/* navbar */

nav {
  background-color: var(--foreground-color-dark);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

nav>a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
  border-bottom: var(--foreground-color-dark) 2px solid;
}

nav>p {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
  border-bottom: var(--foreground-color-dark) 2px solid;
}

nav>a:hover {
  text-decoration: none;
  color: white;
  border-bottom: var(--background-color) 2px solid;
}

#dropicon {
  display: none;
}
