<main>
  <section class="banner-mini">
    <h1>About Me</h1>
  </section>
  <section class="description">
    <p>My name is Harrison Saliba, I was born in Boston MA, but grew up just outside of seattle. Ive been very
    passionate about computer interfaces for as long as I can remember. Besides web design and computer science I
    enjoy hiking, sailing, and motorcycle riding.</p>
  </section>
  <section class="images">
    <div><img src="../../assets/images/slideshow1.jpg" alt=""></div>
    <div><img src="../../assets/images/slideshow2.jpg" alt=""></div>
    <div><img src="../../assets/images/slideshow3.jpg" alt=""></div>
    <div><img src="../../assets/images/slideshow4.jpg" alt=""></div>
    <div><img src="../../assets/images/slideshow5.jpg" alt=""></div>
    <div><img src="../../assets/images/slideshow6.jpg" alt=""></div>
  </section>
</main>