<main>
  <section class="banner-mini">
    <h1>Skills</h1>
    <i class="fas fa-toolbox" style="font-size: 5rem;"></i>
  </section>
  <section class="skillset">
    <div>
      <img src="../../assets/images/html5logo.svg" alt="html">
      <p>HTML 5 for modern usability and accessibility.</p>
    </div>
    <div>
      <img src="../../assets/images/csslogo.svg" alt="css">
      <p>CSS 3 for modern interchangibility and design.</p>
    </div>
    <div>
      <img src="../../assets/images/javascriptlogo.svg" alt="js">
      <p>JavaScript for fast client-based applications.</p>
    </div>
    <div>
      <img src="../../assets/images/phplogo.svg" alt="php">
      <p>PHP server scripting for robust data managment.</p>
    </div>
    <div>
      <img src="../../assets/images/dotnetlogo.svg" alt="php">
      <p>DOT NET Core for web API development.</p>
    </div>
    <div>
      <img src="../../assets/images/angularlogo.svg" alt="php">
      <p>Angular for reliable and quick single page web applications.</p>
    </div>
  </section>
</main>