.cover-container {
  max-width: 992px;
}
.fab {
  font-size: 1.2rem;
}
.bigger {
  font-size: 2rem;
}
@media (min-width: 1200px) {
  .resume-card {
    max-width: 50%;
    padding: 1em;
  }
  .resume-card-container {
    max-height: 100vh;
  }
}