<main>
  <section class="banner">
    <h1>Harrison Saliba</h1>
    <h3>Web Designer and Computer Science Major</h3>
  </section>
  <section class="skills">
    <div>
      <i class="fas fa-globe-americas"></i>
      <h3>Website Design</h3>
      <p>Webpages for anyone on any device.</p>
    </div>
    <div>
      <i class="fas fa-mobile-alt"></i>
      <h3>App Development</h3>
      <p>Single page applications that people can access from their phones on-the-go.</p>
    </div>
    <div>
      <i class="fas fa-terminal"></i>
      <h3>Server Administration</h3>
      <p>Your server, your requirements, under control.  AWS or Azure.</p>
    </div>
    <div>
      <i class="fas fa-project-diagram"></i>
      <h3>APIs</h3>
      <p>Data management to make sure you never miss an oppuntunity.</p>
    </div>
  </section>
  <section class="banner">
    <h1>Get what you want, and for the right price.</h1>
    <h3>Websites reflect your buisness, just like a window display.</h3>
  </section>
  <section class="pricing">
    <div>
      <h2>$--</h2>
      <h3>Personal Webpage</h3>
      <p>Personal webpages for showing information to an audience.</p>
    </div>
    <div>
      <h2>$--</h2>
      <h3>Company Webpage</h3>
      <p>Professional webpages for presenting a buisness to the market.</p>
    </div>
    <div>
      <h2>$--</h2>
      <h3>Company Page with Shop</h3>
      <p>Professional webpages for presenting a buisness to the market, and an online storefront for selling your
        products to customers.</p>
    </div>
    <div>
      <h2>$--</h2>
      <h3>Tech Page</h3>
      <p>Does your buisness or personal idea require systems not already in exsistance? Do you want to create a space
        for client interations that doesent exist? Ive got a solution for you!</p>
    </div>
  </section>
</main>