/* skills */

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30vh;
}

.skills div {
  text-align: center;
  display: grid;
  grid-template-rows: auto 25%;
  align-items: center;
  justify-content: center;
}

.skills div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 1;
}

.skills div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 2;
}

.skills div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 3;
}

.skills div:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 4;
}

.skills i {
  font-size: 3.5em;
  margin: .5em;
}

/* pricing */

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* height: 30vh; */
}

.pricing div {
  text-align: center;
  display: grid;
  grid-template-rows: 50% 25% 25%;
}

.pricing div:nth-child(1) {
  grid-column: 1;
}

.pricing div:nth-child(2) {
  grid-column: 2;
}

.pricing div:nth-child(3) {
  grid-column: 3;
}

.pricing div:nth-child(4) {
  grid-column: 4;
}

.pricing h2 {
  font-weight: 100;
  font-size: 5em;
}